@tailwind base;
@tailwind utilities;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@layer base{
    .font-poppins{
        font-family: 'Poppins', sans-serif;
    }
}

@layer utilities{
    .wheel-shadow{
         box-shadow: 0 0 0 5px #ECBA3F, 0 0 0 15px #ECBA3F ; 
    }

    .wheel-segment{
        clip-path: polygon(0 0, 80% 0, 100% 100% ,0 80%)
    }

    .transition-wheel{
        transition: all 10s ease-in-out;
    }
}

/* https://css-tricks.com/building-a-circular-navigation-with-css-clip-paths/ */